[submodule "submodules/ModPanelsPlusPlus"]
	path = submodules/ModPanelsPlusPlus
	url = https://github.com/Laaas/ModPanelsPlusPlus.git
[submodule "submodules/Shine-Epsilon"]
	path = submodules/Shine-Epsilon
	url = https://github.com/GhoulofGSG9/Shine-Epsilon.git
[submodule "submodules/BadgesPlus"]
	path = submodules/BadgesPlus
	url = https://github.com/GhoulofGSG9/BadgesPlus.git
[submodule "submodules/LocalTalkExtended"]
	path = submodules/LocalTalkExtended
	url = https://github.com/Laaas/LocalTalkExtended.git
[submodule "submodules/wonitor-mod"]
	path = submodules/wonitor-mod
	url = https://github.com/eBrute/wonitor-mod.git
[submodule "submodules/ns2_discord_bridge_mod"]
	path = submodules/ns2_discord_bridge_mod
	url = https://github.com/eBrute/ns2_discord_bridge_mod
[submodule "submodules/FewerBuildRestrictions"]
	path = submodules/FewerBuildRestrictions
	url = https://github.com/Laaas/FewerBuildRestrictions.git
[submodule "submodules/ns2-mod-enhancedspectator"]
	path = submodules/ns2-mod-enhancedspectator
	url = https://github.com/ailmanki/ns2-mod-enhancedspectator.git
