[submodule "dependencies/ModPanelsPlusPlus"]
	path = dependencies/ModPanelsPlusPlus
	url = https://github.com/Laaas/ModPanelsPlusPlus.git
[submodule "dependencies/ns2_discord_bridge_mod"]
	path = dependencies/ns2_discord_bridge_mod
	url = https://github.com/Laaas/ns2_discord_bridge_mod
[submodule "dependencies/FewerBuildRestrictions"]
	path = dependencies/FewerBuildRestrictions
	url = https://github.com/Laaas/FewerBuildRestrictions.git
	branch = "minimal"
[submodule "dependencies/ForceBalance"]
	path = dependencies/ForceBalance
	url = https://github.com/Laaas/ForceBalance.git
