# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

source
output
compiled
synchroniser.exe
synchroniser.obj
synchroniser.o
mod.settings
/dependencies/B7149F9/*
!/dependencies/B7149F9/.laspad_dummy
/dependencies/287AA07B/*
!/dependencies/287AA07B/.laspad_dummy
/dependencies/4384B7FE/*
!/dependencies/4384B7FE/.laspad_dummy
/dependencies/3462371A/*
!/dependencies/3462371A/.laspad_dummy
/dependencies/2EFEE4EC/*
!/dependencies/2EFEE4EC/.laspad_dummy
/dependencies/47E763F1/*
!/dependencies/47E763F1/.laspad_dummy
/dependencies/C6FBBB0/*
!/dependencies/C6FBBB0/.laspad_dummy
/dependencies/235EE3A6/*
!/dependencies/235EE3A6/.laspad_dummy
/dependencies/4A844717/*
!/dependencies/4A844717/.laspad_dummy
/dependencies/48E92104/*
!/dependencies/48E92104/.laspad_dummy
/dependencies/4C941FF7/*
!/dependencies/4C941FF7/.laspad_dummy
/dependencies/4292CDEC/*
!/dependencies/4292CDEC/.laspad_dummy
/dependencies/47A9382E/*
!/dependencies/47A9382E/.laspad_dummy
/dependencies/4D43623A/*
!/dependencies/4D43623A/.laspad_dummy
/dependencies/4FA3146C/*
!/dependencies/4FA3146C/.laspad_dummy
/dependencies/3536F85E/*
!/dependencies/3536F85E/.laspad_dummy
/dependencies/2EBEDABC/*
!/dependencies/2EBEDABC/.laspad_dummy
/dependencies/31B2A09B/*
!/dependencies/31B2A09B/.laspad_dummy
/dependencies/30A8D957/*
!/dependencies/30A8D957/.laspad_dummy
/dependencies/4DE41D6E/*
!/dependencies/4DE41D6E/.laspad_dummy
